stages:          # List of stages for jobs, and their order of execution
  - deploy

deploy-job:
  stage: deploy
  script:
    - echo "Some changes in repo detected..."
    - if [ "$CI_COMMIT_TAG" = "" ] ; then echo "No tag - no deploy!";
      else sudo scp -q -r -i ~/.ssh/rsync.key $CI_PROJECT_DIR {{ setup_cicd_app_user }}@app.{{ setup_cicd_app_domain }}:/tmp;
      ssh -i ~/.ssh/rsync.key {{ setup_cicd_app_user }}@app.{{ setup_cicd_app_domain }} "/home/{{ setup_cicd_app_user }}/redeploy.sh";
      fi
    - echo "The End"