[main]
gpgcheck=1
installonly_limit=3
clean_requirements_on_remove=True
best=True
skip_if_unavailable=False
fastestmirror=1
proxy={{ setup_proxy_protocol }}{{ setup_proxy_fqdn }}:{{ setup_proxy_port }}
proxy_username={{ setup_proxy_user }}
proxy_password={{ setup_proxy_password }}