[main]
gpgcheck=1
installonly_limit=3
clean_requirements_on_remove=True
best=True
skip_if_unavailable=False
proxy={{ proxy_protocol }}{{ proxy_fqdn }}:{{ proxy_port }}
proxy_username={{ proxy_user }}
proxy_password={{ proxy_password }}