stream {
        upstream stream_backend {
            least_conn;
            %{ for i in range (sql_dbnode_count) }
            server ${sql_dbnode_name}${i+1}.${sql_domain_tld}:3306 max_fails=2 fail_timeout=30s;
            %{ endfor }
          }

        server {
            listen 3306;
            proxy_connect_timeout 1s;
            proxy_timeout 3s;
            proxy_pass stream_backend;
          }
}